#homepage {
  .caidf-home-section {
    padding: 32px 67px;
    display: flex;
    flex-direction: column;
  }

  .caidf-home-container {
    position: relative;
    flex-grow: 1;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }

  .caidf-first-section {
    position: relative;
    min-height: calc(100vh - 150px);
    background-color: $color-first-section-home;

    .caidf-home-breadcrumb {
      display: flex;

      .caidf-home-breadcrumb-arrow {
        margin: 0 8px;

        svg {
          width: 9px;
          height: 12px;
        }
      }

      .caidf-home-breadcrumb-link {
        font-size: 14px;
        font-family: "Open Sans Semi-bold";
        color: white;
        text-decoration: none;

        &.active {
          font-family: "Open Sans Bold";
        }
      }
    }

    .caidf-home-container {
      min-height: 100%;
      display: flex;
    }

    .caidf-hand-with-phone-img {
      position: absolute;
      bottom: -32px;
      right: 0;
      width: 35%;
    }

    .caidf-first-section-text {
      margin-top: auto;
      margin-bottom: auto;
      padding: 32px 0;
      width: 66%;
    }

    h1 {
      font-size: 44px;
      margin-bottom: 32px;
      font-family: "Open Sans Bold";
      text-transform: unset;
    }

    p {
      font-size: 20px;
      margin-bottom: 32px;
    }

    .caidf-button,
    .caidf-link-with-icon {
      margin-bottom: 24px;
    }

    .caidf-accent {
      margin-right: 24px;
    }

    .caidf-link-with-icon {
      color: white;

      svg path {
        fill: white;
      }
    }
  }

  .caidf-second-section {
    background-color: $color-primaire;

    .caidf-chevron-wrapper {
      display: flex;
      margin-bottom: 60px;

      a {
        margin-right: auto;
        margin-left: auto;

        svg path {
          fill: $color-accent;
        }
      }
    }

    .caidf-cta-block {
      margin-bottom: 120px;

      .caidf-cta-wrapper {
        margin-top: 40px;
      }
    }
    .caidf-cta-column {
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        color: rgba(255, 255, 255, 0.8);
      }
    }
    .caidf-img-column {
      z-index: 0;
      position: relative;

      .caidf-dash-arrow {
        position: absolute;
        top: calc(-162px - 40px);
      }
    }

    .cta-left {
      .caidf-cta-column {
        padding-right: 50px;
      }

      .caidf-dash-arrow {
        left: 40px;
        transform: scale(-1, 1);
      }
    }

    .cta-right {
      .caidf-cta-column {
        order: 2;
        padding-left: 50px;
        padding-bottom: 30px;
      }

      .caidf-img-column {
        order: 1;
      }

      .caidf-dash-arrow {
        right: 40px;
      }
    }
  }
}
