.caidf-resultats {
  .caidf-resultats-title-content {
    padding: 0 16px;
    margin: 60px auto 32px auto;
    max-width: 700px;
    text-align: center;

    h1,
    p {
      margin-top: 16px;
      margin-bottom: 16px;
      text-align: center;
    }

    .caidf-benefits-count {
      margin-top: 16px;
      font-weight: 700;

      span {
        font-size: 24px;
        color: $color-accent;
      }
    }
  }

  .caidf-resultats-container {
    padding-top: 60px;
    background-color: $color-10-background;

    .aj-main-container {
      background-color: transparent;
    }

    .aj-aide-box,
    .aj-box-wrapper .aj-box {
      box-shadow: 0px 3px 6px #00000029;
    }
    .aj-droit-detail .aj-droit-conditions {
      background-color: rgba($color-primaire, 0.6);
      color: white;
      border-radius: 4px;

      a {
        color: white;
      }

      &,
      .aj-droit-conditions-title,
      a {
        font-family: "Open Sans Semi-bold";
      }

      svg {
        width: 16px;
        height: 14px;
        path {
          fill: $color-primaire;
        }
      }
    }

    .aj-aide-illustration {
      width: 72px;
    }

    .aj-benefit-label {
      font-size: 16px;
    }
  }

  .aj-aide-text {
    img {
      display: none;
    }
  }

  .caidf-resultats-button {
    display: flex;
    justify-content: center;

    .button span {
      text-transform: uppercase;
      margin-left: 8px;
    }
  }
}
