.aj-simulation {
  min-height: 100%;

  .caidf-simulation-content {
    $helping-text-size: 30%;
    display: flex;
    position: relative;

    .caidf-simulation-helping-block {
      padding: 0 4%;
      width: $helping-text-size;
      background-color: $color-primaire;
      color: white;

      .caidf-simulation-helping-block-content {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 88px;

        height: calc(100vh - 72px - 16px);
      }

      .caidf-help-icon {
        display: flex;
        justify-content: center;
        margin-top: 64px;
        margin-bottom: 32px;

        img {
          height: 45px;
          width: 45px;
        }
      }

      .caidf-simulation-helping-text {
        margin-bottom: 32px;
        text-align: center;
        font-size: 20px;
      }

      .caidf-simulation-helping-img {
        margin-top: auto;
        max-width: 100%;

        &.planning-sheets {
          margin-bottom: 32px;
        }
      }
    }

    .caidf-simulation-survey {
      width: #{100% - $helping-text-size};
    }
  }
}
