@font-face {
  font-family: "Open Sans";
  src: url("../fonts/caidf/OpenSans-Regular.ttf") format("truetype");
}

html {
  @include font-body();

  body {
    &,
    a {
      font-family: "Open Sans";
    }
  }

  h1,
  body .aj-main-container .aj-category-title h1 {
    @include font-heading-1-regular();
    color: $color-primaire;
  }

  h2 {
    @include font-heading-2-regular();
  }

  h3 {
    @include font-heading-3();
  }

  h4 {
    @include font-heading-4();
  }

  h5 {
    @include font-heading-5();
  }

  body .aj-question {
    font-size: 14px;
    font-weight: 700;
    font-family: "Open Sans";
    color: black;
  }

  .caidf-font-body-small {
    @include font-body-small();
  }

  // Override class font
  button.button,
  .aj-main-container .aj-tooltip:before {
    font-family: "Open Sans" !important;
  }
}
