.caidf-breadcrumb-wrapper {
  .caidf-breadcrumb {
    &:not(.tablet) {
      display: none;
    }
    &.tablet {
      display: flex;
    }
  }
}

html body .aj-main-container .aj-help-popup {
  display: inline-flex;
}
