html body .aj-simulation {
  .caidf-simulation-content {
    .caidf-simulation-helping-block {
      display: none;
    }

    .caidf-simulation-survey {
      width: 100%;
      padding-bottom: 80px;
    }
  }
}
